@media only screen and (max-width: 768px) {
  // shopmobile
  .carousel-mobile {
    img {
      height: 500px;
    }
    height: 500px;
    margin-top: 50px;
  }

  .iconUser {
    width: 0;
    height: 0;
  }
  .infoHeroTitle {
    background-color: rgba(36, 179, 136, 0.652);
    padding-bottom: 50px;

    .heroImg {
      width: 0;
      height: 0;
    }
    h2 {
      font-size: 0;
    }
    p {
      margin-top: -250px;
      margin-left: 5px;
      text-align: justify;
      padding-left: 20px;
      margin-bottom: 50px;
    }

    .btn {
      margin-left: 20px;
      border-radius: 20px;
    }
    span {
      margin-left: 20px;
    }
  }

  .infoProduct {
    margin-left: 15px;
  }

  .jumbotron-info {
    hr {
      width: 500px;
      margin-bottom: -40px;
    }
    img {
      width: 75%;
      margin-top: 40px;
      justify-content: center;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 80px;
    }
    h4 {
      align-items: center;
      justify-content: center;
      display: flex;
      margin-right: 30px;
    }
    p {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
    }
    .btn {
      width: 500px;
      margin-left: 100px;
      border-radius: 15px;
    }
    span {
      padding-right: 0px;
      margin-left: 45px;
    }
  }

  .infoAbout {
    margin-bottom: 100px;
    margin-left: 40px;
    img {
      width: 0;
      height: 0;
    }
  }

  .infoCaorsel {
    h2 {
      font-size: 100px;
    }
  }

  .infoBtn {
    button {
      border-radius: 15px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .iconUser {
    width: 0;
    height: 0;
  }
  .infoHeroTitle {
    h2 {
      font-size: 0;
    }
    img {
      width: 0;
      height: 0;
    }
    h2 {
      margin-top: 1px;
      margin-left: 20px;
    }
    p {
      margin-top: -250px;
      margin-right: 20px;
      margin-left: 20px;
    }

    .btn {
      align-items: center;
      display: center;
      justify-content: center;
      margin-left: 40px;
      margin-bottom: 40px;

      span {
        padding-left: 30px;
      }
    }
    border-bottom: 1px solid rgba(89, 86, 86, 0.618);
  }

  .infoAbout {
    img {
      width: 0;
      height: 0;
    }
  }
  .infoCaorsel {
    h2 {
      font-size: 60px;
      margin-bottom: 0px;
    }
  }

  .heroTitleCard {
    margin-top: 50px;
    margin-bottom: -250px;
  }
}
